<form (submit)="onSubmit()" #commentForm="ngForm" novalidate>
  <div>
    <label for="name">Name</label>
    <input type="text"
           name="name"
           [(ngModel)]="name"
           required minlength="3"
           #nameField="ngModel"
           [ngStyle]="{'border': nameField.dirty && nameField.valid ? 'green 1px solid' : undefined}"/>
    <div class="alert alert-danger" *ngIf="(commentForm.submitted || nameField.touched) && nameField.errors">
      <div [hidden]="!nameField.errors.required">Name is required</div>
      <div [hidden]="!nameField.errors.minlength">Name must be 3 characters or more</div>
    </div>
  </div>
  <div>
    <label for="comment">Comment</label>
    <textarea name="comment"
              [(ngModel)]="comment"
              required
              minlength="3"
              #commentField="ngModel"
              [ngStyle]="{'border': commentForm.dirty && commentForm.valid ? 'green 1px solid' : undefined}">

    </textarea>
    <div class="alert alert-danger" *ngIf="(commentForm.submitted || commentField.touched) && commentField.errors">
      <div [hidden]="!commentField.errors.required">Comment is required</div>
      <div [hidden]="!commentField.errors.minlength">Comment must be 3 characters or more</div>
    </div>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
