.photo__container {
  display: inline-block;

  @supports (display: flex) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-rows: minmax(20vmin, auto);
    grid-template-columns: repeat(auto-fill, minmax(10vmin, 30vmin));
    grid-gap: 2vmin;
  }
}
